body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./brick-wall.jpg");
  background-size: cover;
}
body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(198, 176, 210, 0.9);
  z-index: -1;
}

.playerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 3rem;
}

#reset {
  display: none;
}

#reset.visible {
  display: block;
}

button {
  border-radius: 5px;
  padding: 10px;
  font-size: 3rem;
}
