img {
  background-size: contain;
  background-color: rgba(255, 99, 71, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 3rem;
}

#reset {
  display: none;
}

#reset.visible {
  display: block;
}
